.container {
    width: 90%;
    margin: auto;
    
}

.guessSubmit {
    margin: 10px;
    
}

.restartSubmit {
    margin: 10px;
    
}

.rule{
    font-size: 20px;
    font-weight: lighter;
}

#hint {
    font-size: 20px;
}